# Go
server/photosync-server
*.exe
*.test
*.out

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/pubspec.lock

# Android
mobile/android/app/photosync.keystore
mobile/android/key.properties
mobile/android/local.properties
mobile/android/app/build/
mobile/android/.gradle/

# iOS
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Runner/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log
